@font-face {
    font-family: 'MyCustomFont';
    src: url('font.ttf') format('truetype');
}

body {
    font-family: 'MyCustomFont', sans-serif;
}


.scrolling-text {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    color: white;
    font-size: 2em;
}


.aligned-text {
    text-align: center;
    margin-top: 50px;
    font-size: 1.5em;
}

body {
    overflow-x: hidden;
    height: 100vh;
    margin: 0;
    background-size: 200% 200%;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 52%, #ff9a9e 100%);
    animation: Gradient 3s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body, .scrolling-text {
    will-change: transform, background-position;
}

.like-count {
    align-items: center;
    align-self: center;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 48%;
}

.like-button {
    font-size: 2em;
    color: #888;
    cursor: pointer;
    align-items: center;
    align-self: center;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.like-button.clicked {
    color: #f00;
}
